<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.denisura.giphy"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.Grid">
        <activity android:name=".ui.grid.GiphyGridActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.item.GiphyItemActivity"
            android:parentActivityName=".ui.item.GiphyItemActivity"
            android:theme="@style/AppTheme.NoActionBar.Item">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.grid.GiphyGridActivity"/>
        </activity>
    </application>

</manifest>